/*
0 - 600px:      mobile phone
600 - 900px:    tablet portrate
900 - 1200px:   tablet landscape
[1200 - 1800ox]  our normal styles apply
1800 + :        big desktop
*/
/* 
$breakpoint arguments choices:
- phone 
-tab-port
-tab-lan
-big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Bad Script", cursive;
  font-size: 62.5%;
  /* 62.5% * 16px = 10 px */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  padding: 3rem;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.section-buy-now-cards {
  height: 95vh;
  padding: 5rem;
  overflow: hidden;
  background-image: -webkit-linear-gradient(to right, rgba(255, 219, 223, 0.7), rgba(238, 156, 167, 0.8)), url(../images/pexels-photo-415318.jpeg);
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, rgba(255, 219, 223, 0.7), rgba(238, 156, 167, 0.8)), url(../images/pexels-photo-415318.jpeg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center; }
