*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: $main-font-family;
    // defining i rem
    font-size: 62.5%; /* 62.5% * 16px = 10 px */
    @include respond(tab-lan) {
        font-size: 56.25%; //1rem = 9px
    }
    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px
    }
    @include respond(big-desk) {
        font-size: 75%;  //1rem = 12px
    }
}

body{
    padding: 3rem;
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }
}
